.pres {
    position: relative;
    padding: 2rem;
    border-radius: 50px;
    height: 50vw;
    margin-top: 10vw;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
    position: absolute;
    width: 100%;
}

.pres img {
    height: 500px;

}

.hamburger {
    width: 40%;
    position: relative;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: auto;
    font-size: 40px;
    text-transform: uppercase;
    width: 30%;

}

.title .sushi {

    height: 100px;
}

.title .healthy {

    height: 50px;
}

.pres .title .pasta {
    height: 200px;
    margin-top: 50px;
    transform: rotate(40deg);
}


@media (max-width:1050px) {
    .pres img {
        height: 500px;

    }
}

@media (max-width:900px) {
    .pres img {
        height: 100px;

    }
    .hamburger{
        max-width:95%;
    
}

    

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: auto;

        font-size: max(5vw, 22px);
        text-transform: uppercase;
        width: 10%;

    }
}

@media (max-width:750px) {

    .pres img {
        height: 100px;

    }

    .title {
        font-size: 15px;
        width: 10%;

    }

    .hamburger {
        width: 10%;
        position: relative;
    }

    .pres .title .pasta {
        height: 50px;
        margin-top: 50px;
        transform: rotate(40deg);
    }

    .title .sushi {

        height: 40px;
    }

    .title .healthy {

        height: 20px;
    }
    .pres{
        margin-bottom: 150px;
    }
}